*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-family: 'SF UI Text', sans-serif;
    --primary-color: white;
    --secondary-color: rgb(204, 203, 203);
    --primary-text-shadow: 0 0 10px rgb(141, 143, 146);
}
/* Main */
body {
    margin: 0;
    background: rgba(0,0,0,0.3) no-repeat center center fixed;
    background-blend-mode: color;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--primary-color);
    font-family: var(--font-family);
    /* text-shadow: var(--primary-text-shadow); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "clock"
        "greet"
        "quote"
        "quote";
    align-items: center;
}

h1.time {
    font-size: 4rem;
    font-weight: 500;
    grid-area: clock;
}

h2.greeting {
    font-size: 3rem;
    font-weight: 300;
    grid-area: greet;
}

div.quote-block {
    font-size: 1rem;
    grid-area: quote;
    max-width: 800px;
    justify-self: center;
    padding: 1em;
}

div.quote-block:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
}

p.quote {
    margin: 0 0 0.75em;
    text-align: center;
}

h1.time, 
h2.greeting,
p.author {
    text-align: center;
    margin: 0;
}

/* Header */
div.weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1em 2em;
}

div.weather > img {
    width: 50px;
    height: 50px;
}

div.weather > h2 {
    font-size: 2rem;
}

div.weather > p {
    width: 100%;
    text-align: right;
}

div.weather > h2,
div.weather > p {
    margin: 0;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    gap: 0.75em;
    padding: 1em 2em;
}

div.credit-bottom > p.version {
    font-size: 0.65rem;
    color: var(--secondary-color);
}

div.credit-top {
    display: flex;
    flex-direction: column;
    order: 2;
    color: var(--secondary-color);
}

div.credit-author {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5em;
}

p.location {
    margin: 0;
    text-align: right;
    text-transform: capitalize;
}

p.image-author {
    margin: 0;
    text-transform: capitalize;
    font-size: 0.75rem;
}

i.like-btn {
    padding: 0.5em;
    background-color: transparent;
    color: var(--secondary-color);
    border: 0px solid;
    cursor: pointer;
}

i.like-btn:hover,
i.like-btn:focus,
i.like-btn:active {
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
}

p.advice {
    font-size: 1rem;
    margin: 0;
    text-align: left;
    max-width: 500px;
}







